merchantcheckinfo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="MerchantCheckInfoEndPointInterfaceService" targetNamespace="http://endpoint.merchantcheck.gpn.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://endpoint.merchantcheck.gpn.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://endpoint.merchantcheck.gpn.com/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://endpoint.merchantcheck.gpn.com/">
        
    <xs:complexType name="checkInf">
                
        <xs:sequence>
                        
            <xs:element minOccurs="0" name="checknumber" type="xs:string"/>
                        
            <xs:element minOccurs="0" name="micr" type="xs:string"/>
                        
            <xs:element minOccurs="0" name="accountnumber" type="xs:string"/>
                        
            <xs:element minOccurs="0" name="transitnumber" type="xs:string"/>
                        
            <xs:element minOccurs="0" name="amount" type="xs:string"/>
            
            <xs:element minOccurs="0" name="nameoncheck" type="xs:string"/>
            
            <xs:element minOccurs="0" name="checktype" type="xs:string"/>
            
            <xs:element minOccurs="0" name="accounttype" type="xs:string"/>
        </xs:sequence>
            
    </xs:complexType>
        
    <xs:element name="getCheckInformation" type="getCheckInformation"/>
        
    <xs:complexType name="getCheckInformation">
                
        <xs:sequence>
                        
            <xs:element minOccurs="0" name="checknumber" type="xs:string"/>
                    
        </xs:sequence>
            
    </xs:complexType>
        
    <xs:element name="getCheckInformationResponse" type="getCheckInformationResponse"/>
        
    <xs:complexType name="getCheckInformationResponse">
                
        <xs:sequence>
                        
            <xs:element minOccurs="0" name="return" type="checkInf"/>
                    
        </xs:sequence>
            
    </xs:complexType>
        
    <xs:element name="createCheckInformation" type="createCheckInformation"/>
        
    <xs:complexType name="createCheckInformation">
                
        <xs:sequence>
                        
            <xs:element minOccurs="0" name="CheckInformation" type="checkInf"/>
                    
        </xs:sequence>
            
    </xs:complexType>
        
    <xs:element name="createCheckInformationResponse" type="createCheckInformationResponse"/>
        
    <xs:complexType name="createCheckInformationResponse">
                
        <xs:sequence>
                        
            <xs:element minOccurs="0" name="return" type="xs:string"/>
                    
        </xs:sequence>
            
    </xs:complexType>
        
    <xs:element name="deleteCheckInformation" type="deleteCheckInformation"/>
        
    <xs:complexType name="deleteCheckInformation">
                
        <xs:sequence>
                        
            <xs:element minOccurs="0" name="checknumber" type="xs:string"/>
                    
        </xs:sequence>
            
    </xs:complexType>
        
    <xs:element name="deleteCheckInformationResponse" type="deleteCheckInformationResponse"/>
        
    <xs:complexType name="deleteCheckInformationResponse">
                
        <xs:sequence>
                        
            <xs:element minOccurs="0" name="return" type="xs:string"/>
                    
        </xs:sequence>
            
    </xs:complexType>
        
    <xs:element name="updateCheckInformation" type="updateCheckInformation"/>
        
    <xs:complexType name="updateCheckInformation">
                
        <xs:sequence>
                        
            <xs:element minOccurs="0" name="CheckInformation" type="checkInf"/>
                    
        </xs:sequence>
            
    </xs:complexType>
        
    <xs:element name="updateCheckInformationResponse" type="updateCheckInformationResponse"/>
        
    <xs:complexType name="updateCheckInformationResponse">
                
        <xs:sequence>
                        
            <xs:element minOccurs="0" name="return" type="xs:string"/>
                    
        </xs:sequence>
            
    </xs:complexType>
    
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getCheckInformationResponse">
    <wsdl:part name="parameters" element="tns:getCheckInformationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createCheckInformationResponse">
    <wsdl:part name="parameters" element="tns:createCheckInformationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateCheckInformation">
    <wsdl:part name="parameters" element="tns:updateCheckInformation">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCheckInformation">
    <wsdl:part name="parameters" element="tns:getCheckInformation">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createCheckInformation">
    <wsdl:part name="parameters" element="tns:createCheckInformation">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteCheckInformation">
    <wsdl:part name="parameters" element="tns:deleteCheckInformation">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateCheckInformationResponse">
    <wsdl:part name="parameters" element="tns:updateCheckInformationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteCheckInformationResponse">
    <wsdl:part name="parameters" element="tns:deleteCheckInformationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MerchantCheckInfoEndPointInterface">
    <wsdl:operation name="getCheckInformation">
      <wsdl:input name="getCheckInformation" message="tns:getCheckInformation">
    </wsdl:input>
      <wsdl:output name="getCheckInformationResponse" message="tns:getCheckInformationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createCheckInformation">
      <wsdl:input name="createCheckInformation" message="tns:createCheckInformation">
    </wsdl:input>
      <wsdl:output name="createCheckInformationResponse" message="tns:createCheckInformationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteCheckInformation">
      <wsdl:input name="deleteCheckInformation" message="tns:deleteCheckInformation">
    </wsdl:input>
      <wsdl:output name="deleteCheckInformationResponse" message="tns:deleteCheckInformationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCheckInformation">
      <wsdl:input name="updateCheckInformation" message="tns:updateCheckInformation">
    </wsdl:input>
      <wsdl:output name="updateCheckInformationResponse" message="tns:updateCheckInformationResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MerchantCheckInfoEndPointInterfaceServiceSoapBinding" type="tns:MerchantCheckInfoEndPointInterface">
    <soap:binding style="document" transport="http://www.w3.org/2010/soapjms/"/>
    <wsdl:operation name="getCheckInformation">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCheckInformation">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCheckInformationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createCheckInformation">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createCheckInformation">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createCheckInformationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteCheckInformation">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteCheckInformation">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteCheckInformationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCheckInformation">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateCheckInformation">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateCheckInformationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MerchantCheckInfoEndPointInterfaceService">
    <wsdl:port name="MerchantCheckInfoEndPointInterfacePort" binding="tns:MerchantCheckInfoEndPointInterfaceServiceSoapBinding">
      <soap:address location="jms:queue:checkinfo.verify?jndiInitialContextFactory=org.apache.activemq.jndi.ActiveMQInitialContextFactory&amp;jndiConnectionFactoryName=ConnectionFactory&amp;jndiURL=tcp://localhost:61616"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
